# Python Data types and Boolean

- Numeric Types : int, float, complex
- Boolean 
- Boolean and logical opearators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

In [1]:
a=10   #int
b=10.5 #float
c="MSP"#str
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
True #bool

True

In [3]:
False

False

In [4]:
str="  MSP "  
str=str.strip()  #strip removes leading and trailing whitespaces from a string
print(len(str))

3

In [5]:
#after str. press tab to view all possible in built functions
#to view function details just press shift+tab
str="1234"
print(str.isalnum()) #Return True if the string is an alpha-numeric string, False otherwise.
print(str.isalpha()) #Return True if the string is an alphabetic string, False otherwise.
print(str.isdigit()) #Return True if the string is a digit string, False otherwise.
print(str.isupper()) #Return True if the string is an uppercase string, False otherwise.
print(str.islower()) #Return True if the string is a lowercase string, False otherwise.
print(str.isspace()) #Return True if the string is a whitespace string, False otherwise.
print(str.endswith('4'))#Return True if S ends with the specified suffix, False otherwise.
print(str.startswith('1'))#Return True if S starts with the specified prefix, False otherwise.

True
False
True
False
False
False
True
True

## Boolean and Logic operators

In [6]:
True and True

True

In [7]:
True and False

False

In [8]:
True or True

True

In [9]:
True or False

True

In [10]:
a="abc"
b="123"
print(a.isdigit() or b.isdigit())
print(a.isdigit() and b.isdigit())

True
False

## Lists

mutabe changeable data structure in python 
Values / items between [  ]

In [11]:
a=[]

In [12]:
type(a)

list

In [13]:
b=[]
type(b)

list

In [14]:
type([])

list

In [15]:
c=list()
type(c)

list

In [16]:
c=["Maths","Physics","Chem",200,100,100]
len(c)

6

## Append

In [17]:
c.append("English") #Append object to the end of the list.
d=c
print(d)

['Maths', 'Physics', 'Chem', 200, 100, 100, 'English']

In [18]:
c.append(["John","Benjamin","Stokes"]) # nested dictionary
print(c)

['Maths', 'Physics', 'Chem', 200, 100, 100, 'English', ['John', 'Benjamin', 'Stokes']]

## Count

In [19]:
c.count(100) #Return number of occurrences of value.

2

In [20]:
c.count('Maths')

1

## Extend

In [21]:
e=["Anni","Binni"]
c.extend(e)  #Extend list by appending elements from the iterable.
print(c)

['Maths', 'Physics', 'Chem', 200, 100, 100, 'English', ['John', 'Benjamin', 'Stokes'], 'Anni', 'Binni']

## Insert

In [22]:
c.insert(1,"Anna") #Insert object before index.
print(c)

['Maths', 'Anna', 'Physics', 'Chem', 200, 100, 100, 'English', ['John', 'Benjamin', 'Stokes'], 'Anni', 'Binni']

In [23]:
print(c[0]+" "+c[1]) #indexing

Maths Anna

In [24]:
print(c[-1]+" "+c[-2]) #-ve indexing

Binni Anni

In [25]:
print(c[:]) #indexing range of values [:] means all values
print(c[:4]) # Basically first index is included and last is excluded
print(c[5:])
print(c[1:2])
print(c[1:1])

['Maths', 'Anna', 'Physics', 'Chem', 200, 100, 100, 'English', ['John', 'Benjamin', 'Stokes'], 'Anni', 'Binni']
['Maths', 'Anna', 'Physics', 'Chem']
[100, 100, 'English', ['John', 'Benjamin', 'Stokes'], 'Anni', 'Binni']
['Anna']
[]

## Various operations that can be performed on list

In [54]:
lst=[1,2,3,4,5]
sum(lst)

15

In [55]:
lst.pop()

5

In [56]:
lst

[1, 2, 3, 4]

In [57]:
len(lst)

4

In [58]:
#index
lst.index(1) #Return first index of value.

0

In [59]:
lst.append(1)
lst.index(1,2,5)

4

In [60]:
lst.reverse()
lst

[1, 4, 3, 2, 1]

In [61]:
lst.remove(1) #Remove first occurrence of value.
lst

[4, 3, 2, 1]

In [62]:
min(lst)

1

In [63]:
max(lst)

4

In [64]:
lst*2

[4, 3, 2, 1, 4, 3, 2, 1]

## Sets { }

- unordered collection of data types that is iterable, mutable
- Has no duplicate values
- Python's set class represents the mathematical notion of the set
- Base on Hash table

In [30]:
# defining a set
st = set()
print(st)
print(type(st))

set()
<class 'set'>

In [31]:
st={1,2,3,4,3} # no duplicate
st

{1, 2, 3, 4}

In [32]:
st2={"MSD","Ambati","Rutu","Devon"}
print(st2)
print(type(st2))

{'Ambati', 'MSD', 'Rutu', 'Devon'}
<class 'set'>

In [33]:
for _ in st2:
    print(_,end=' ')

Ambati MSD Rutu Devon

In [34]:
for _ in st2:
    print(_)

Ambati
MSD
Rutu
Devon

In [35]:
#indexing   set does not support indexing 
# st2[0]
# st2["MSD"]

TypeError: 'set' object is not subscriptable

In [36]:
# Inbuilt functions in sets
st2.add("Jaddu")
print(st2)

{'Jaddu', 'Devon', 'Rutu', 'Ambati', 'MSD'}

In [37]:
st2.add(1)
st2

{1, 'Ambati', 'Devon', 'Jaddu', 'MSD', 'Rutu'}

In [38]:
st2.add(2)
st2

{1, 2, 'Ambati', 'Devon', 'Jaddu', 'MSD', 'Rutu'}

In [39]:
st1=st2
st1

{1, 2, 'Ambati', 'Devon', 'Jaddu', 'MSD', 'Rutu'}

In [40]:
st1.remove(1) #Remove an element from a set; it must be a member.

In [41]:
st2.difference(st1)

set()

In [42]:
st3={1,3}
st2.difference(st3)

{2, 'Ambati', 'Devon', 'Jaddu', 'MSD', 'Rutu'}

In [48]:
a={1,2,3}
b={4,5,3}
c={1}
d={7,8}

In [44]:
b.difference(a)

{4, 5}

In [46]:
a.intersection(b)

{3}

In [47]:
a.union(b)

{1, 2, 3, 4, 5}

In [49]:
a.isdisjoint(d)

True

In [50]:
d

{7, 8}

In [51]:
d.clear()
d

set()

In [52]:
d={7,8}
d.discard(7)
d

{8}

In [54]:
d.add(7)
d.add(6)
d

{6, 7, 8}

In [55]:
d.intersection_update({6,7}) # Update a set with the intersection of itself and another.
d

{6, 7}

In [57]:
d.issubset(b)  #Report whether another set contains this set b

False

In [58]:
d.issubset({7,6,8})

True

## Dictionaries  Dict { }

   - collection which is ordered , changeable and indexed 
   - Keys and Values

In [59]:
dic={}

In [60]:
type(dic)

dict

In [62]:
dic={1,2,3,4}  #####Note 
type(dic)

set

In [63]:
## Let's create dictionary 
dic1={"p1":"Rutu","p2":"Devon","p3":"Rachin","p4":"Moeen"}
type(dic1)

dict

In [67]:
## accessing values using keys
dic1['p1']

'Rutu'

In [68]:
#looping through dict keys
for _ in dic1:
    print(_,end=' ')

p1 p2 p3 p4

In [70]:
#looping through dict values
for _ in dic1.values():
    print(_,end=' ')

Rutu Devon Rachin Moeen

In [71]:
#looping through both key and values
for _ in dic1.items():
    print(_,end=' ')

('p1', 'Rutu') ('p2', 'Devon') ('p3', 'Rachin') ('p4', 'Moeen')

In [72]:
##adding new key-value pair
dic1["p5"]="Dube"
dic1

{'p1': 'Rutu', 'p2': 'Devon', 'p3': 'Rachin', 'p4': 'Moeen', 'p5': 'Dube'}

In [74]:
for x in dic1.items():
    print(x[1],end='|')

Rutu|Devon|Rachin|Moeen|Dube|

In [75]:
##update value
dic1['p3']='Derryl'
dic1

{'p1': 'Rutu', 'p2': 'Devon', 'p3': 'Derryl', 'p4': 'Moeen', 'p5': 'Dube'}

## Nested Dictionary

In [76]:
csk={"p1":"Rutu","p2":"Devon","p3":"Rachin"}
mi={"p1":"Ro","p2":"Marsh","p3":"Surya"}
rcb={"p1":"Virat","p2":"Faf","p3":"Patidar"}
order={"CSK":csk,"MI":mi,"RCB":rcb}

In [77]:
print(order)

{'CSK': {'p1': 'Rutu', 'p2': 'Devon', 'p3': 'Rachin'}, 'MI': {'p1': 'Ro', 'p2': 'Marsh', 'p3': 'Surya'}, 'RCB': {'p1': 'Virat', 'p2': 'Faf', 'p3': 'Patidar'}}

In [78]:
for x in order:
    print(x)

CSK
MI
RCB

In [79]:
print(order["CSK"])

{'p1': 'Rutu', 'p2': 'Devon', 'p3': 'Rachin'}

In [80]:
print(order["CSK"]["p2"])

Devon

In [85]:
for x in  order.items():
    print("Batting order of {} is:".format(x[0]))
    for y in x[1].items():
         print("{} - {}".format(y[0],y[1]))

Batting order of CSK is:
p1 - Rutu
p2 - Devon
p3 - Rachin
Batting order of MI is:
p1 - Ro
p2 - Marsh
p3 - Surya
Batting order of RCB is:
p1 - Virat
p2 - Faf
p3 - Patidar

## Tuples  ( )

 - immutable

In [86]:
tup=tuple()

In [87]:
type(tup)

tuple

In [88]:
tup1=(1,2,"anna")
tup1

(1, 2, 'anna')

In [89]:
type(tup1)

tuple

In [91]:
#tup1[0]=2 changing this will not work

In [93]:
tup1=(3,4,"Anni",4,4,4) #This will work replacing
tup1

(3, 4, 'Anni', 4, 4, 4)

In [94]:
##Inbuilt functions
tup1.count(4) #number of time 4 got repeated

4

In [95]:
tup1.index(4) #Return first index of value.

1